extends ../www_base

block poststyles
  style(type='text/css').
    ul.changelog li {
      list-style-type: none;
      margin-bottom: 1em
    }
    .date {
      font-weight: bold;
    }
    

block body
  div.row-fluid
    div.span6.offset3
      h1 Change log
      h3(style='text-align: center;') InterTwinkles feature updates

      ul.changelog
        li
          div.date May 30, 2013
          div.about
            p.
              Changed default sharing settings for new documents.  Adding a
              group will now set the default to "private" rather than
              defaulting to "Public with secret URL".
        li
          div.date May 9, 2013
          div.about
            p.
              New simplified toolbar, with integrated search, recent items list,
              and app menu. "InterTwinkles" link now goes straight home without
              any second click.
        li
          div.date May 8, 2013
          div.about
            p.
              "Email group" buttons.  Send an email to everyone in your group
              from any document.
        li
          div.date May 7, 2013
          div.about
            p.
              Daily activity summary emails.  If set in your preferences, you will
              get an email once a day summarizing work on your group's stuff in
              in the last day.
        li
          div.date May 3, 2013
          div.about
            p.
              Changed the form for creating 
              <a href='/twinklepad/new/'>new twinklepads</a>
              and
              <a href='/dotstorm/new/'>new dotstorms</a>
              to make it easier to add them to groups.
            p.
              Changed the
              <a href='/twinklepad'>twinklepad front page</a> page so that it
              explains better what it's for (we'll be doing this for all the
              front pages).
        li
          div.date April 27, 2013
          div.about
            p.
              Add twinkles to firestarter. You can now show your support for
              someone's response.

        li
          div.date April 26, 2013
          div.about
            p.
              Add support for taking photos with laptops' webcams in Dotstorm.
              This expands on the support that was already present for recent
              Android browsers.
            p.
              Add resolution histories and closing/re-opening messages to
              proposals in resolve.
            

        li
          div.date April 25, 2013
          div.about.
            Removed email notifications from <a href='/resolve/'>resolve</a>.
            If you want to notify your group about a proposal change, send them
            an email.  Fix bugs around display of groups when they are first
            created.

        li
          div.date April 19, 2013
          div.about.
            New dashboard and events views. Easier to find your group's
            documents, and to see what people in your group have been up to.

        li
          div.date March 28, 2013
          div.about.
            Added new app, <a href='/points/'>Points of Unity</a>, improving on
            the older standalone "tenpoints" app. All old tenpoints boards are
            imported to Points of Unity, and old links redirect.

        li
          div.date March 21, 2013
          div.about.
            Add CSV and JSON exports to Dotstorm. Just add "/json/" or "/csv/"
            to the end of any dotstorm board's URL.

        li
          div.date March 17, 2013
          div.about.
            Added new app, <a href='/clock/'>Progressive Clock</a> with real-time
            collaboration.

        li
          div.date March 10, 2013
          div.about.
            Turn on <a href='https://en.wikipedia.org/wiki/Secure_Sockets_Layer'>SSL</a>
            by default, everywhere.

        li
          div.date March 7, 2013
          div.about.
            Change how scripts are compiled &ndash; 100x speed boost for first
            load.

        li
          div.date March 5, 2013
          div.about.
            Make connection status messages clearer and less noisy.

        li
          div.date March 1, 2013
          div.about.
            Public beta launched!
