extends legal
block content
  :markdown
    ## Digital Millenium Copyright Act

    Consistent with the Digital Millennium Copyright Act, if you believe that
    your copyrighted materials have been copied in a way that constitutes
    copyright infringement, please send an email or written notice to our
    designated agent for notices of infringement and provide the following
    information:

    * An electronic or physical signature of the person authorized to act on
      behalf of the owner of the copyright interest.
    * A description of the copyrighted work that you claim has been
      infringed.
    * A description of where the material that you claim is infringing is
      located on the InterTwinkles site.
    * Your address, telephone number, and email address.
    * A statement by you that you have a good faith belief that the disputed
      use is not authorized by the copyright owner, its agent, or the law.
    * A statement by you, made under penalty of perjury, that the above
      information in your notice is accurate and that you are the copyright
      owner or authorized to act on the copyright owner's behalf.

    Our designated agent for notice for claims of copyright infringement is
    Andrew Whitacre who can be reached as follows:

    By mail

        77 Massachusetts Ave.
        E15-321
        Cambridge, MA 02139

    By phone

        (617) 324-0490

    By fax

        (617) 258-6264

    By email

        awhit@mit.edu

    Note: the above contact information is provided exclusively for notifying
    InterTwinkles that your copyrighted material may have been infringed.
    All other inquiries, (e.g., requests for technical assistance or customer
    service, reports of email abuse, and piracy reports), will not receive a
    response through this process. 

