extends ../www_base


block body
  h1(style='text-align: center;') About Inter<span class='intertwinkles'>Twinkles</span>
  div.row-fluid
    div.span6.offset3.about
      :markdown
        Communication works differently online.  So it's no surprise that for
        groups that try to do democratic decision making online, things can get a
        little strained.  People have to learn to speak in different ways, and to
        come up with different strategies for reaching understanding.  It takes
        more than just a forum plus voting for people to actually understand
        each other.

      p(style='text-align: center;')
        img(src='/static/img/twinkle-computer-boom.png')

      :markdown

        InterTwinkles is a research project and platform for developing tools
        to help reach the type of deep understanding that is necessary for 
        [consensus decision making](https://en.wikipedia.org/wiki/Consensus_decision-making).

        Voting and proposals are part of this &ndash; but only the easiest part. :)
        The real challenge is getting diverse groups of people with varying degrees
        of computer literacy and access, varying communciation styles, and varying
        experience on the same page.
      
        This project is also [my dissertation work](http://tirl.org)
        at the MIT Media Lab.  If you're interested in this research and would
        like to get involved, [drop me a line!](mailto:cfd@media.mit.edu)

      p(style='text-align: center;')
        <a href='#' class='modal-video' data-url='https://www.youtube-nocookie.com/embed/6YBWrcTsMl0' data-width="640" data-height="360"><i class='icon-play'></i> 5 minute video about InterTwinkles</a>
    
      :markdown
        Some ideals we are striving for with InterTwinkles include:

        * Free software: All the source code is
          [open source](https://github.com/yourcelf/intertwinkles), and easy for
          developers to appropriate.
        * Human-centered: People come first, real-world needs over technology.
        * Value-driven: it is not possible for technology to be value-neutral.
          We therefore strive to embed technologies with pro-social and
          progressive values: inclusion, democracy, flat hierarchies, a concern
          for relationship, and a recognition of different communication and
          cognition styles.
        * Start from, and contribute back to, our offline communities and groups.

      p(style='text-align: center;')
        img(src='/static/img/twinkle-swim.png')

      :markdown
        ### What's with the name?

        "Twinkling" is one of a set of
        [hand signals](https://www.youtube.com/watch?v=R2yYiULZ0hA)
        used by groups around the world to communicate more effectively in
        meetings.  It's reminiscent of the American Sign Language sign for
        "[applause](https://www.youtube.com/watch?v=yho8z6C1Gok)",
        and is used to indicate approval.  It's also a perfect
        example of the type of instant, efficient in-person communication tool
        that we don't have once we move online.
        
        InterTwinkles aims to bring the same creativity and efficacy that
        innovative democratic groups all around the world have used in their
        meeting processes online.

        ### Get involved

      include ../includes/get_involved
