extends ../www_base
block body
  div(style='max-width: 40em; margin-left: auto; margin-right: auto;')
    div
      <a href='/about/terms/'>Terms of Use</a> |
      <a href='/about/privacy/'>Privacy Policy</a> |
      <a href='/about/dmca/'>DMCA</a>
    block content

