extends legal
block content
  :markdown
    ## Privacy Policy

    **PLEASE REVIEW BEFORE USING THIS WEBSITE – IF YOU DO NOT AGREE WITH ALL
    OF THE TERMS OF THE BTB PRIVACY POLICY, DO NOT USE THIS WEBSITE.**

    The following discloses the information gathering and dissemination
    practices for the Between the Bars (“InterTwinkles”) website available at
    http://intertwinkles.org (the “Site”). Your use of the Site constitutes
    your agreement to this privacy policy and consent to the terms herein.

    InterTwinkles reserves the right to modify the information contained
    herein from time to time, with or without notice, so please check it
    regularly for any changes or updates. Your continued use of the Site
    after InterTwinkles has posted a modified version of its privacy policy
    signifies your acceptance of the revised privacy policy.

    ### Information We Collect and How We Use It

    #### Normal Browsing

    When you browse the Site, InterTwinkles collects data, including but not
    limited to the public source IP address of the request, the domain name
    and host from which the user accessed the Internet (e.g., aol.com), the
    user’s browser software and operating system, the date and time the user
    accesses the Site, web pages previously visited by the user, the web site
    to which the user links after visiting our Site, and user queries
    submitted to the Site.

    We use this information to generate statistics and measure Site activity,
    which helps us better understand our visitors and make the Site more
    useful to them.

    #### Information You Provide

    You may add content to the Site, including comments, text, documents,
    images, photos, or any other content.  You may also register an account
    with InterTwinkles, and provide an email address, username, user icon,
    choice of user icon color, mobile phone number and carrier, and
    notification preferences.  InterTwinkles collects and stores all such
    information that you provide.  

    ### InterTwinkles’s Disclosure of Your Information

    Available log records, account information, and all data stored on our
    servers may be accessed by our system administrators. InterTwinkles may
    need to disclose this information to law enforcement or other government
    officials for your protection or in connection with an investigation of
    fraud, intellectual property infringement, or other activity that is
    illegal or may expose us or our users to legal liability, and as
    otherwise deemed reasonably necessary by InterTwinkles.

    InterTwinkles also may provide aggregated, de-identified data or reports
    on user demographics and behavior to interested third parties, including
    but not limited to journals and academics.

    Additionally, making edits to the Site is a public action, and all
    content may be publicly visible. Identification of all contributed
    content may include, but is not limited to display of your username and
    any other information or pictures that you provide in your profile. All
    content may be retained for restorative, archival, or research purposes
    by InterTwinkles. All unsolicited information shall be deemed to be
    non-confidential and InterTwinkles shall be free to reproduce, use,
    disclose, and distribute such unsolicited information to others without
    limitation or attribution.

    ### Control of Your Password

    You may not disclose the password you use to access InterTwinkles to any
    third parties nor share it with any third parties. If your password has
    been compromised for any reason, you should immediately change your
    password.

    ### Modification of Privacy Policy

    InterTwinkles reserves the right to revise this privacy policy from time
    to time, with or without notice, so please check it regularly for any
    changes or updates. Your continued use of the Site after InterTwinkles
    has posted a modified version of its privacy policy signifies your
    acceptance of the revised privacy policy.
    
    ### Contacting InterTwinkles

    If you have any questions regarding this privacy policy, you can contact
    us by emailing support@intertwinkles.org.

    Effective Date of the Agreement is 2010-11-15. 


