extends ../www_base
block body
  h1 Related Work
  div.row-fluid
    div.span6.offset3
      p
        | <p>Inter<span class='intertwinkles'>Twinkles</span> is far from the only
        | game in town &ndash; online democracy is a
        |  <span class='intertwinkles'>hot</span> topic right now.
        |  <span class='label label-important'>&laquo; Awesome</label>
      p
        | Here is a growing collection of related work we've come across that you might enjoy.
        | Know of more?  <a href='mailto:cfd@media.mit.edu'>Let me know</a> and let's grow
        | this list.
  div.row
    div.span10.offset2
      iframe(src='https://pad.tirl.org:444/ro/r.BBnvWFToTLMj5R7P?showControls=true&showChat=true&showLineNumbers=true&useMonospaceFont=false', width="760px", height="2500px", frameborder=0)
