extends ../../../../views/layout

block poststyles
  link(rel="stylesheet", type="text/css", href=asset("firestarter/css/style.styl"))
 
block body
  em Sparking...
  img(src="/static/firestarter/img/sparking.gif")

block postscripts
  script(type="text/template", id="splashTemplate")
    div.container-fluid
      div.row-fluid
        div.span12(style='text-align: center;')
          h1 Firestarter
          p Go around, ice breaker, introductions, etc.
          p
            a.btn.btn-large.btn-danger.new-firestarter(href='#')
              | New Firestarter
      div.row-fluid
        div.span6
          h3(style='text-align: center;') Public
          ul.public-doc-list
            li Nothing here yet.
        div.span6
          h3(style='text-align: center;') For your groups
          ul.group-doc-list
            <% if (!intertwinkles.is_authenticated()) { %>
            li.listed-firestarter Sign in to see your firestarters.
            <% } else {%>
            li.listed-firestarter Nothing here yet.
            <% } %>

  script(type="text/template", id="listedFirestarterTemplate")
    li.listed-firestarter
      | <a href='<%- url %>'><%- doc.name %></a>
      | <span class='date' style='float: right;'></span>
      | <div>
      | <% if (group) { %>
      |   <span class='name'><%- group.name %></span>
      | <% } %>
      | </div>
      | <blockquote class='prompt'><%= intertwinkles.markup(doc.prompt) %></blockquote>
      | <span class='responses'>(<%- doc.responses.length %> responses)</span>

  script(type="text/template", id="addFirestarterTemplate")
    div.row-fluid
      div.span8.offset2
        h3 New Firestarter
        form#new_firestarter_form.form-horizontal
          div.control-group
            label.control-label(for="id_name") *Event name
            div.controls
              input#id_name(type='text', name='name')
          div.control-group
            label.control-label(for="id_prompt") *Firestarter question
            div.controls
              textarea#id_prompt(name='prompt')
          div.control-group.slugfield
            label.control-label(for="id_slug") *Code name
            div.controls
              input#id_slug(type='text', placeholder='Unique name')
              div.firestarter-url
          div.control-group
            label.control-label(for="id_group") Sharing
            div.controls#sharing_controls
            
          div.control-group
            div.controls
              input.btn.btn-large.btn-danger#submit_new_firestarter(type="submit", value="Start")

  script(type="text/template", id="firestarterTemplate")
    div.container-fluid
      div.row-fluid(style='position: relative;')
        div.span12(style='text-align: center;')
          div.first-loading
            em Sparking...
            img(src="/static/firestarter/img/sparking.gif")

          div.hidden-desktop(style='height: 2.5em;')
          div.pull-right(style='position: absolute; right: 1em; top: 0.5em; text-align: left; height: 2em;')
            ul.sharing-online-group
              li.room-users
              li.sharing
          div(style='clear: both;')

          div.byline
            span.firestarter-date
          h1.hover-edit(style='display: inline-block')
            span.firestarter-name
            <% if (!read_only) { %>
            a.edit-link.edit-name(href='#') Edit
            <% } %>

      div.row-fluid
        div.span6.offset3
          div.well.hover-edit
            span.firestarter-prompt
            <% if (!read_only) { %>
            a.edit-link.edit-prompt(href='#') Edit
            <% } %>
      div.row-fluid
        div.span6.offset3
          div(style='text-align: center;')
            <% if (!read_only) { %>
            a.btn.btn-danger.btn-large#add_response Add response
            <% } %>
          div.add-response-holder
      div.row-fluid
        div.span12.responses(style='text-align: center;')
      div.row-fluid
        div.history-holder(style='text-align: right;')

  script(type='text/template', id='editNameDialogTemplate')
    form.form-horizontal
      div.modal-body
        div.control-group
          label.control-label(for="id_firestarter_name") Event name:
          div.controls
            <input type='text' name='name' value='<%- name %>' />
      div.modal-footer
        a.btn.pull-left(data-dismiss="modal") Cancel
        input.btn.btn-primary(type='submit', value='Save')

  script(type='text/template', id='editPromptDialogTemplate')
    form.form-horizontal
      div.modal-body
        div.control-group
          label.control-label(for="id_firestarter_prompt") Prompt:
          div.controls
            <textarea><%- prompt %></textarea>
      div.modal-footer
        a.btn.pull-left(data-dismiss="modal") Cancel
        input.btn.btn-primary(type='submit', value='Save')

  script(type="text/template", id="editResponseTemplate")
    form.form-horizontal
      div.modal-body
        div.control-group
          label.control-label(for="id_name") Name
          div.controls#name_controls
        div.control-group
          label.control-label(for="id_response") Response
          div.controls
            textarea
              <%- response %>
      div.modal-footer
        a.btn.cancel.pull-left(data-dismiss="modal") Cancel
        <input class='btn btn-danger' type='submit' value='<%- verb %>' />

  script(type="text/template", id="responseTemplate")
    div.name
      <%= intertwinkles.inline_user(user_id, name) %>
      span(style="float: right;").date-holder
    div.response
      <%= intertwinkles.markup(response) %>
    div.foot
      <% if (!read_only) { %>
      a.delete(href='#', style='float: left;')
        i.icon.icon-trash
      a.edit(href='#', style='float: right;') Edit
      <% } %>

  script(type='text/template', id='deleteResponseConfirmationTemplate')
    div.modal-header
      button.close.modal(type='button', data-dismiss='modal', aria-hidden='true', value='&times;')
      h1 Really delete?
    div.modal-body
      p Delete this response by <%= intertwinkles.inline_user(user_id, name) %>?
      blockquote.response
        <%= intertwinkles.markup(response) %>
    div.modal-footer
      form
        a.btn(href='#', data-dismiss='modal') Close
        input.btn.btn-danger.really-delete(type='submit', value='Delete')

  script(type="text/javascript", src=asset("firestarter/js/frontend.coffee"))
