:markdown
  * We're running a series of free workshops from March to June of 2013
    teaching groups about how to use these tools effectively.
    [Contact us](mailto:cfd@media.mit.edu) to schedule your group in.
  * We're building [documentation](http://project.intertwinkles.org) about
    best practices that groups are learning for online communication. Have
    an experience to share? Join us!
  * Are you a developer? You can help with
    [hacking on the code](https://github.com/yourcelf/intertwinkles),
    running your own instance of InterTwinkles, and writing plugins to
    implement radical new structured communication strategies.
  * Join the [design mailing list](http://lists.byconsens.us/mailman/listinfo/design)
    to talk about new ideas.
  * [Follow us on twitter](https://twitter.com/intertwinkles), and check out
    our [blog](http://blog.intertwinkles.org)!
