extends ../../../../views/layout

block poststyles
  link(rel="stylesheet", type="text/css", href="/static/dotstorm/css/style.css")
  //!=css("dotstorm/css/style")

block postscripts
  script(type="text/javascript", src="/static/dotstorm/js/frontend.js")
  //!=js("dotstorm/js/frontend")
