extends base

block preapp
  div.pull-right(style='position: absolute; right: 1em; top: 60px;')
    a.dotstorm-read-only-link(href='#', style='float: right; margin-left: 0.5em') read-only &#8734;
    ul.sharing-online-group(style='float: right;')
      li.room-users
      li.sharing(style='position: relative;')
  div(style='height: 2em;')

block body
  <img src='/static/img/spinner.gif' alt='loading' /> Loading...

block postapp
  script#dotstormTopic(type='text/template')
    div#dotstorm
      div.nameEdit
        h1.clickToEdit <%- name || "[add name]" %>
      div.topicEdit
        span.clickToEdit <%= _.escape(topic || "[Click to edit topic]").replace(/\n/g, "\n<br />") %>

  script#dotstormInPlaceInput(type='text/template')
    form.editInPlace.input-append
      <input type='text' value='<%- text %>' />
      input.btn(type='submit', value='OK')

  script#dotstormInPlaceTextarea(type='text/template')
    form.inPlaceTextarea
      textarea(rows="4", cols="40") <%- text %>
      br
      input.btn(type='submit', value='save')
      a.cancel(href='#') cancel

  script#dotstormCameraDialog(type='text/template')
    form
      div.modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3 Add photo

      div.modal-body
        canvas#photo.capture(width=640, height=480, style='display: none; float: right; width: 260px; height: 195px;')
        div#capture.capture(style='display: none;')
          div.row-fluid
            video#monitor(width=640, height=480, style='width: 160px; height: 120px;')
        p
          button.btn.btn-success.cheese.capture(style='display: none;') <i class='icon-camera'></i> Take picture!
          input.btn.toggle-capture(value='Use camera', type='button')
        p 
          | Or pick image file:
        p
          input(type='file')

      div.modal-footer
        input.btn.btn-primary(type='submit', value='Add photo')
        a.pull-left.btn(href='#', data-dismiss='modal') Cancel

  script#dotstormAddIdea(type='text/template')
    div#addIdea
      div.toolbar
        a.tool.active(data-tool='text')
          img(src='/static/dotstorm/img/T.png', alt='Text')
        a.tool(data-tool='pencil')
          img(src='/static/dotstorm/img/pencil.png', alt='Pencil')
        a.tool(data-tool='eraser')
          img(src='/static/dotstorm/img/eraser.png', alt='Eraser')
        <% if (cameraEnabled) { %>
        a.tool(data-tool='camera')
          img(src='/static/dotstorm/img/camera.png', alt='Camera')
        <% } else if (fileEnabled) { %>
        a.tool.file-upload(data-tool='file-upload')
          img.normal(src='/static/dotstorm/img/camera.png', alt='Camera')
        input.file-input(type='file', accept='image/*;capture=camera')
        <% } %>
        span(style='float: right')
          a.note-color.yellow
          a.note-color.pink
          a.note-color.aqua
          a.note-color.green
      div(style='clear: both;')
      div.canvasHolder
        div.photo
        div.canvas
        div.text
          textarea#id_description <%- description %>
      form
        label(for='id_tags') Tags
        div.input-append
          <input id='id_tags' name='tags' type='text' value="<%- tags %>" />
          //a.cta.cta-yellow.cta-thin Say more
          button.btn.btn-primary(type='submit', style='float: right;') Share &raquo;
      div(style='clear: both;')

  script#dotstormOrganizer(type='text/template')
    div(style='clear: both;')
    div.front-matter
      div.topic
      div.add-link-block
        <a href='/dotstorm/d/<%- slug %>/add/' class='btn btn-primary btn-large add-link'>+ Add</a>
      div#trash
        div.trash
          div.icon
          div.contents
      div(style='clear: both;')
    div.idea-browser
      span#organizer
      div(style='clear: both;')
    div.tag-links

  script#dotstormSmallIdea(type='text/template')
    <img src='<%- drawingURLs.medium %>' alt='<%- description %>' />
    div.tags
      <%- tags.join(", ") %>
    div.votes
    div.dragger

  script#dotstormSmallIdeaGroup(type='text/template')
    div.labelHolder
      span.labelMask
        <% if (showGroup) { %>
        span.grouplabel.clickToEdit
          <%- label || "[Click to add label]" %>
        <a href='/dotstorm/g/<%- group_id %>/' class='embed group' title='Embed this group'>&#8734;</a> 
        <% } else {%>
        | &nbsp;
        <% } %>
    div.ideas

  script#dotstormSmallIdeaGroupEditLabel(type='text/template')
    form.input-append
      | <input type='text' value='<%- label %>' placeholder='label' />
      input.btn(type='submit', value='OK')

  script#dotstormBigIdea(type='text/template')
    div.shadow
      div.noteHolder
        div.note
          div.toolbar.image-boxed
            a.edit(href='#', title='edit')
              img(src="/static/dotstorm/img/pencil.png", alt='edit')
            span.vote-widget
            a.close(title='close') &#10006;
          div.canvasHolder
            <img src='<%- drawingURLs.full %>' alt='<%- description %>' />
            <% if (hasPrev) { %>
            div.nav.prevHolder
              div.navlink.prev(title='previous') &laquo;
            <% } %>
            <% if (hasNext) { %>
            div.nav.nextHolder
              div.navlink.next(title='next') &raquo;
            <% } %>
          div.tags
            b tags:&nbsp;
            span.clickToEdit
              <%- tags.join(", ") || "[Click to add]"%>
        div(style='clear: both;')

  script#dotstormTagOverlay(type='text/template')
    div.shadow

  script#dotstormVoteWidget(type='text/template')
    <% if (!readOnly) { %>
    a.upvote(title='Vote up') Vote up
    <% } %>
    span.vote-count
    <% if (!readOnly) { %>
    a.downvote(title='Vote down') Vote down
    <% } %>

  script#usersWidget(type='text/template')


  script#intro(type='text/template')
    style(type='text/css')
      iframe::-webkit-scrollbar { display: none; }
    div#intro.row-fluid
      div.span5.offset1
        h1 Dotstorm
        h2 Sticky-note brainstorming
        div(style='text-align: center;')
          iframe(width="350", height="400", src="https://intertwinkles.org/dotstorm/e/8771d8b6-a355-4ffc-90ff-49832b65ebde", style='overflow: hidden;', scrolling="no")
      div.span6(style='padding-top: 5em;')
        p(style='margin-bottom: 2em')
          <a href='#' class='modal-video' data-url='https://www.youtube-nocookie.com/embed/dj_yW2WfsEw' data-width='480' data-height='360'><i class='icon-play'></i> 2 minute video</a> introducing Dotstorm.
        
        p
          a.btn.btn-primary.btn-large.softnav.new-dotstorm(href='/dotstorm/new/') New dotstorm

  script#createTemplate(type='text/template')
    div.span12
      form.form-horizontal#add
        h3 Create dotstorm
        div.control-group
          label.control-label(for="id_name") Name
          div.controls
            input#id_name(type='text', name='name', placeholder='Name')
        div.control-group
          label.control-label(for="id_slug") URL name
          div.controls
            <input id='id_slug' type='text' name='slug' placeholder='<%- randomSlug %>' />
            div.dotstorm-url
              | URL: <%- INTERTWINKLES_APPS.dotstorm.url %>/d/<span class='slug-val'><%- randomSlug %></span>
        div.control-group
          label.control-label(for="id_sharing") Sharing
          div.controls
            div#sharingControl
        div.control-group
          div.controls
            input.btn.btn-primary.btn-large(type="submit", value="Create dotstorm")
