extends layout

block poststyles
  style(type='text/css')
    #push, footer { display: none; }

block postapp
  div(style='text-align: center;')
    a.btn.btn-primary.btn-large(href="javascript:UserVoice.showPopupWidget();").
      Feedback &amp; Support

block postscripts
  include home/includes/uservoice
