extends layout

block body
  div.row-fluid
    div.span6
      button.btn.btn-large Default
      button.btn Default
      button.btn.btn-small Default
      button.btn.btn-mini Default
      button.btn.disabled Disabled
      button.btn.disabled.loading Disabled
      br
      button.btn.btn-block Block Level Default
      br

      button.btn.btn-primary.btn-large Primary
      button.btn.btn-primary Primary
      button.btn.btn-primary.btn-small Primary
      button.btn.btn-primary.btn-mini Primary
      button.btn.btn-primary.disabled Disabled
      button.btn.btn-primary.disabled.loading Disabled
      br
      button.btn.btn-primary.btn-block Block Level Primary
      br
      
      button.btn.btn-info.btn-large Info
      button.btn.btn-info Info
      button.btn.btn-info.btn-small Info
      button.btn.btn-info.btn-mini Info
      button.btn.btn-info.disabled Disabled
      button.btn.btn-info.disabled.loading Disabled
      br
      button.btn.btn-info.btn-block Block Level Info
      br

      button.btn.btn-success.btn-large Success
      button.btn.btn-success Success
      button.btn.btn-success.btn-small Success
      button.btn.btn-success.btn-mini Success
      button.btn.btn-success.disabled Disabled
      button.btn.btn-success.disabled.loading Disabled
      br
      button.btn.btn-success.btn-block Block Level Success
      br

      button.btn.btn-warning.btn-large Warning
      button.btn.btn-warning Warning
      button.btn.btn-warning.btn-small Warning
      button.btn.btn-warning.btn-mini Warning
      button.btn.btn-warning.disabled Disabled
      button.btn.btn-warning.disabled.loading Disabled
      br
      button.btn.btn-warning.btn-block Block Level Warning
      br

      button.btn.btn-danger.btn-large Danger
      button.btn.btn-danger Danger
      button.btn.btn-danger.btn-small Danger
      button.btn.btn-danger.btn-mini Danger
      button.btn.btn-danger.disabled Disabled
      button.btn.btn-danger.disabled.loading Loading
      br
      button.btn.btn-danger.btn-block Block Level Danger
      br

      button.btn.btn-inverse.btn-large Inverse
      button.btn.btn-inverse Inverse
      button.btn.btn-inverse.btn-small Inverse
      button.btn.btn-inverse.btn-mini Inverse
      button.btn.btn-inverse.disabled Disabled
      button.btn.btn-inverse.disabled.loading Loading
      br
      button.btn.btn-inverse.btn-block Block Level Inverse
      br
