extends www_base

block poststyles
  link(rel="stylesheet", type="text/css", href=asset("/css/dashboard.styl"))


block body
  div.container-fluid#dashboard

  script#groupsList(type='text/template')
    div.row-fluid
      h1 Groups
    div.row-fluid
      div.span3
        // This will contain howto/guide stuff?
      div.span6.groups
      div.span2
        div.pull-right
          a.btn(href='/groups/new/') Add Group
    div.personal-events

  script#groupDocumentList(type='text/template').
    <div class='group'>
      <div class='group-head'>
        <% if (group.logo.small) { %>
          <img src='<%- group.logo.small %>' alt='Logo' />
        <% } %>
        <h3><a href='/groups/show/<%- group.slug %>/'><%- group.name %></a></h3>
        <a href='/groups/edit/<%- group.slug %>/' title='edit group settings'><i class='icon-cog'></i></a>
      </div>
      <ul class='documents-list'></ul>
      <a class='more-docs' href='/groups/show/<%- group.slug %>/'>more from <%- group.name %></a>
      <div class='events-pane' style='text-align: center'></div>
    </div>
 
block postscripts
  script(src=asset("js/home/dashboard.coffee"))
