extends ../layout
block body
  h1 Feedback &amp; Support

  div(style='text-align: center;')
    p Thanks for helping to make InterTwinkles better.
    a.btn.btn-primary.btn-large(href="javascript:UserVoice.showPopupWidget();")
      | Send Feedback
  
block postscripts
  script(type='text/javascript')
    intertwinkles.connect_socket(function() {
      intertwinkles.build_toolbar($("header"), {
        applabel: "www",
        active_name: INITIAL_DATA.active_name
      });
      intertwinkles.build_footer($("footer"));
    });
  include includes/uservoice
