extends ../layout

block body
  div.sign-in
    a.signin-link(href='#')
      img(src='/static/img/sign_in_blue.png')

  div.row-fluid
    div.span1
    
    div.span10
      div#top.row-fluid
        div.span6.offset3
          div(style='max-width: 400px; margin-left: auto; margin-right: auto;')
            h1 Inter<span class='intertwinkles'>Twinkles</span>
            ul.sub-nav
              li.left
                a(href='/about/') About
              li.right
                a(href='/about/starting/') Getting&nbsp;Started
              //li.right
              //  a#signin(href='#') Sign&nbsp;In

      div.row-fluid.top-blurb
        :markdown
          Your co-op or affinity group already has lots of ways to communicate
          online. So why is it so hard to make *consensus decisions* between
          meetings?
          
          InterTwinkles is a platform built from the ground up to help small
          democratic groups to do *process* online. It provides structure to
          improve the efficiency of specific communication tasks like
          brainstorming and proposals.
        
      h3 Tools

      div.app-tiles
        div.row-fluid
          div.app-tile.right
            a(href='/points/')
              img.app-image(src='/static/points/img/points_tile.png')
            a.app-title(href='/points/') Points of Unity
            div.app-blurb.
              <b>Agreements</b>, principles, or shared values between members
              of your group.
          div.app-tile.left
            a(href='/dotstorm/')
              img.app-image(src='/static/dotstorm/img/dotstorm_tile.png')
            a.app-title(href='/dotstorm/') Dotstorm
            div.app-blurb.
              Structured <b>brainstorming</b> with sticky notes. Come up with new ideas
          div(style='clear: both;')
        div.row-fluid
          div.app-tile.right
            a(href='/firestarter/')
              img.app-image(src='/static/firestarter/img/firestarter_tile.png')
            a.app-title(href='/firestarter/') Firestarter
            div.app-blurb.
              <b>Go arounds</b>, ice breakers, intros. Get to know each other
          div.app-tile.left
            a(href='/clock/')
              img.app-image(src='/static/clock/img/clock.png')
            a.app-title(href='/clock/') Progressive Clock
            div.app-blurb.
              <b>Timekeeping</b> of meetings by identit category.
          div(style='clear: both;')
        div.row-fluid
          div.app-tile.right
            a(href='/twinklepad/')
              img.app-image(src='/static/twinklepad/img/twinklepad_tile.png')
            a.app-title(href='/twinklepad/') TwinklePad
            div.app-blurb.
              Public or private real-time <b>document</b> editing with etherpads
          div.app-tile.left
            a(href='/resolve/')
              img.app-image(src='/static/resolve/img/resolve_tile.png')
            a.app-title(href='/resolve/') Resolve
            div.app-blurb.
              Approve or reject a <b>proposal</b> with a group. Asynchronous voting and
              revising proposals
          div(style='clear: both;')
        div.row-fluid
          a.app-title(href='/about/more/') More...

      h3 How it works

      div.row-fluid.how
        p.
          You can try out and use any of the tools above without signing in
          right now. Go for it.

        p.
          If you'd like to be able to search through your work and keep track
          of the things your group is working on,
          <a class='signin-link' href='#'>sign in</a> (registration is automatic)
          and set up your group.  See <a href='/about/starting/'>Getting Started</a>
          for more.

      div#more.row-fluid
        div.span6.offset3
          h4(style='text-align: center;') Features
          ul  
            li.
              Real-time, collaborative editing. Everyone can work at the same
              time, or on their own schedules.
            li.
              Flexible permissions &ndash; share just with your group, or make
              things public for specific time periods.
            li Integrated search
            li See who in your group has been active, and who hasn't
        div.span4

      h3 Get involved
      div.get-involved
        include includes/get_involved  

block poststyles
  link(rel="stylesheet", type="text/css", href=asset("css/landing.styl"))

block postscripts
  script(src=asset("js/home/landing.coffee"))
