extends www_base

block body
  div.container-fluid#frontpage
    div.row-fluid
      div.span12
        h3(style='text-align: center;') More Things
        ul.more-things
          li
            p.
              <a href='http://time.intertwinkles.org'>Progressive Clock</a>:
              a simple application for "progressive timekeeping" &ndash;
              keeping track of speaking time by categories of identity (e.g.
              sex, gender, racial identity, power position, etc). The categories
              are configurable.
            p.
              A new version of Progressive Clock which integrates with the rest
              of the InterTwinkles platform is currently under development.
          li
            p.
              <a href='http://tenpoints.intertwinkles.org'>Ten Points</a>: a
              consensus-building tool modeled after the meetings tool from the
              <a href="http://meetings.mayfirst.org">May First/People Link</a>
              collective. Groups can use 10 Points to develop a shared set of
              principles, values, questions, or points that everyone agrees
              with.
            p.
              A new version of Ten Points which integrates with the rest of the
              InterTwinkles platform is currently under development.
          li
            p.
              <a href="http://moon.byconsens.us">Moon Talk</a>:
              a facilitated role playing communication game which asks players to
              think about what it's like to make decisions using constrained
              communication channels. How hard is it to schedule a meeting, if
              you can't see each other, and only one person can talk at once?
            p.
              The Moon Talk website contains the directions you need to play a
              game of moon talk with your group.
