extends www_base

block body
  div.more-page
    div.row-fluid
      div.span12
          div.span6.offset3
            :markdown
              The InterTwinkles platform is under rapid development as we add
              new tools and features. [Dotstorm](/dotstorm/),
              [Resolve](/resolve/), [TwinklePad](/twinklepad/),
              [Firestarter](/firestarter/), [Progressive Clock](/clock/), and
              [Points of Unity](/points/) are just the start.
              
              Have more ideas for new tools or interactions that would be
              especially useful for your groups?  Join the
              [design mailing list](http://lists.byconsens.us/mailman/listinfo/design)
              (or just [contact us](mailto:cfd@media.mit.edu)). Some ideas
              we're planning include:

              * Tools for agenda planning and minutes
              * Tools for clustered decision making among groups
              * Tools for elections of officers
              * Tools for choosing a small number of preferred things
                from a large number of options.

