extends www_base

block body
  div.more-page
    div.row-fluid
      div.span12
        div.row-fluid
          h3(style='text-align: center;') More Things
          div.span6.offset3
            :markdown
              The InterTwinkles platform is under rapid development as we add
              new tools and features. [Dotstorm](/dotstorm/), [Resolve](/resolve/),
              [TwinklePad](/twinklepad/) and [Firestarter](/firestarter/) are just
              the start.
              
              The tools below were originally designed as stand-alone
              components, and are currently being integrated into the rest of
              the InterTwinkles platform. In the mean time, you can still use
              them as standalone tools.

              Have more ideas for new tools or interactions that would be
              especially useful for your groups?  Join the
              [design mailing list](http://lists.byconsens.us/mailman/listinfo/design)
              (or just [contact us](mailto:cfd@media.mit.edu)). Some ideas
              we're planning include:

              * Tools for agenda planning and minutes
              * Tools for clustered decision making among groups
              * Tools for elections of officers
              * Tools for choosing a small number of preferred things
                from a large number of options.

        div.row-fluid
          ul.more-things
            li
              p.
                <a href='http://time.intertwinkles.org'>Progressive Clock</a>:
                a simple application for "progressive timekeeping" &ndash;
                keeping track of speaking time by categories of identity (e.g.
                sex, gender, racial identity, power position, etc). The categories
                are configurable.
              p.
                A new version of Progressive Clock which integrates with the rest
                of the InterTwinkles platform is currently under development.
            li
              p.
                <a href='http://tenpoints.intertwinkles.org'>Ten Points</a>: a
                consensus-building tool modeled after the meetings tool from the
                <a href="http://meetings.mayfirst.org">May First/People Link</a>
                collective. Groups can use 10 Points to develop a shared set of
                principles, values, questions, or points that everyone agrees
                with.
              p.
                A new version of Ten Points which integrates with the rest of the
                InterTwinkles platform is currently under development.
            li
              p.
                <a href="http://moon.byconsens.us">Moon Talk</a>:
                a facilitated role playing communication game which asks players to
                think about what it's like to make decisions using constrained
                communication channels. How hard is it to schedule a meeting, if
                you can't see each other, and only one person can talk at once?
              p.
                The Moon Talk website contains the directions you need to play a
                game of moon talk with your group.
