extends www_base

block body
  h1 Getting Started
  div(style="padding-top: 2em; max-width: 40em; margin-left: auto; margin-right: auto;")
    div(style='text-align: center;')
      ol(style='display: inline-block; text-align: left; font-size: 20px; line-height: 1.5;')
        li <a href='/groups/new/'>Create a group!</a> All you need is a list of emails.
        li.
          Create a
          <a href='/dotstorm/'>brainstorm</a>, a
          <a href='/resolve/'>proposal</a>, a
          <a href='/firestarter/'>go around</a> or a
          <a href='/twinklepad/'>document</a>.
        li Get stuff done between meetings.

    div.getting-started-invitations

    :markdown
      ### For Groups

      Inter<span class=intertwinkles>Twinkles</span> is designed from the
      ground up to work for small groups (generally 20 or fewer people) who
      already know each other, and already use (or want to use) horizontal
      democratic decision making.

      ### Structured Communication

      You probably already have a way to talk to your group online &ndash; like
      a mailing list or forum. **InterTwinkles doesn't try to replace that**.
      InterTwinkles is a set of targeted tools that work well for *specific
      tasks* such as brainstorming ([dotstorm](/dotstorm/)), go-arounds
      ([firestarter](/firestarter/)), proposals ([resolve](/resolve/)),
      community agreements ([points of unity](/points/)), and shared document
      editing ([twinklepad](/twinklepad/)).  Start your conversation in person
      or on a mailing list, then come here when you need
      to accomplish a specific task. Think of it as "Doodle for Deliberation".

      ### Flexible access control
      
      InterTwinkles lets you make anything your group works on private, public,
      or somewhere in between.  At a meeting and need to open a document so
      everyone can work on it without signing in?  No problem.  Want to lock it
      down afterwards?  Easy.

      Once a document is associated with your group, it's easy to [search](/search/)
      across all your brainstorms, proposals, go-arounds, or documents.  Only
      things you have permission to see will show up in searches.

      ### Get Help

      From March through June of 2013, we're running a series of **free workshops**
      for co-ops and affinity groups who are interested in using InterTwinkles.
      If you or your group might be interested, [contact us!](mailto:cfd@media.mit.edu)
