extends ../../../../views/layout

block poststyles
  link(rel="stylesheet", type="text/css", href=asset("twinklepad/css/style.styl"))

block postscripts
  script(type="text/javascript", src=asset("twinklepad/js/frontend.coffee"))
