extends ../../../../views/layout

block poststyles
  link(rel="stylesheet", type="text/css", href="/static/css/twinklepad/css/style.css")
  //!=css("twinklepad/css/style")

block postscripts
  script(type="text/javascript", src="/static/twinklepad/js/frontend.js")
  //!=js("twinklepad/js/frontend")
