@import "./utils"

#dashboard
  .more-docs
    display: block
    text-align: center
    font-style: italic
  .group
    green-glow()
    margin-bottom: 1em
  .group-head
    text-align: center
    h3
      display: inline-block
      a
        color: black

    margin-bottom: 1em

  .recent-activity-summary
    margin-top: 1em

    
.dash-app-list
  font-size: 14px
  text-align: center
  li
    clear: both
    list-style-type: none
    margin-bottom: 1.5em
  a
    display: block
    color: #777
    text-shadow: 0 1px 0 #fff
    margin-right: 10px
  a:hover
    color: #333
