@import "./utils"

#dashboard
  .more-docs
    display: block
    text-align: center
    font-style: italic
  .group
    green-glow()
    margin-bottom: 1em
  .group-head
    text-align: center
    h3
      display: inline-block
      a
        color: black

    margin-bottom: 1em

  .recent-activity-summary
    margin-top: 1em

    
