background-rgba(r, g, b, a)
  // rgba with fallback to rgb
  background-color: rgb(r, g, b)
  background-color: rgba(r, g, b, a)

#flash
  z-index: 100
  font-size: 20px
  text-align: center
  a.close
    color: black
    text-decoration: none
    position: absolute
    text-align: center
    right: 0em
    width: 2em
    height: 2em
  ul
    z-index: 100
    position: fixed
    width: 85%
    top: 1em
    left: 5%
    li
      position: relative
      padding: 0.5em 1em
      margin-left: 0
      list-style-type: none
      box-shadow: 0px 0px 1px black, 0 0 20px white inset
      color: white
      text-shadow: black 0px 1px 2px
      margin-right: 1em
      &.info
        background-rgba(0, 153, 255, 0.9)
      &.error
        background-rgba(255, 51, 0, 0.9)
      &.success
        background-rgba(30, 150, 0, 0.9)
