@import "./utils"

#frontpage
  .hero-unit
    line-height: 1.3em
  .app-icon-list
    margin: 0
    text-align: center
    li
      cursor: pointer
      list-style-type: none
      green-glow()
      box-sizing: border-box
      width: 100%
      max-width: 220px
      min-height: 220px
      display: inline-block
      vertical-align: middle
      .name
        display: block

  .events-and-docs
    margin-left: 0
    li
      list-style-type: none
      green-glow()

.alert.invitation
  color: #333
  td.invitor
    white-space: nowrap
    border: 1px solid #eee
    padding-right: 0.5em
  td.invitation
    padding-left: 0.5em

.more-page
  .more-things
    text-align: center
    li
      list-style-type: none
      width: 300px
      height: 300px
      display: inline-block
      vertical-align: middle
      text-align: left
      green-glow()

.tile-link
  cursor: pointer

.join-inline-user
  border: 1px solid #ddd
  padding: 0.5em
  display: inline-block
  margin: 0.5em

.manage-group
  a.remove
    color: #999
    &:hover
      background-color: #f00
      color: white
  td
    padding: 0.1em
  th .popover
    font-weight: normal
    text-align: left
  tr.removed
    background-color: #fee
    td
      text-decoration: line-through
      font-style: italic
    td.link
      text-decoration: none
  tr.newinvite
    background-color: #efe
  td.changed
    background-color: #ffe
  .table th, .table td
    border-top: 1px solid #eee

