//@import "../fonts/offside/offsideregular.css"
//@import "../fonts/novasquare/novasquare.css"
@import "../fonts/novaround/novaround.css"
//@import "../fonts/vt323/vt323.css"

border-box()
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

green-glow()
  background-color: rgba(255, 255, 255, 0.4)
  box-shadow: 0 0 25px 0 rgba(#ddd, 0.8), 0 0 5px 1px rgba(#eee, 0.8) inset
  border-radius: 3px 5px 7px 9px / 24px 26px 28px 20px
  transition-property: box-shadow
  transition-duration: 1s
  &:hover
    box-shadow: 0 0 25px 0 rgba(#ddd, 0.8), 0 0 5px 1px rgba(#fed, 0.8) inset
  padding: 1em;

titley-font()
  font-family: "nova_roundbook", sans-serif
  font-weight: normal

small-green()
  font-family: sans-serif
  font-size: 0.8em
  color: #090

