doctype 5
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name="apple-mobile-web-app-capable", content="yes")
    link(rel="shortcut icon", href="/static/img/favicon.gif")
    title= title
    != css('bootstrap')
    != css('style')

  body
    div#page
      header
      noscript
        :markdown
          This site depends on javascript and cookies, thoroughly and completely.
          Please enable and allow scripts from this site in order to use it.  If your
          device does not support javascript, our apologies.

          For the security conscious, the full javascript source code for this site
          is freely available at https://github.com/yourcelf/firestarter if you'd like
          to examine it. There you can also find instructions for installing and running
          this site on your own servers.
      div#flash
      div#app
        em Sparking...
        img(src="/static/img/sparking.gif")
      div#push
    footer

    <script type='text/javascript'>
    != "var INITIAL_DATA = " + JSON.stringify(initial_data) + ";"
    != "var INTERTWINKLES_API_URL = '" + conf.api_url + "';"
    != "var INTERTWINKLES_APPS = " + JSON.stringify(conf.apps) + ";"
    </script>

    script(type="text/template", id="splashTemplate")
      div.container-fluid
        div.row-fluid
          div.span12(style='text-align: center;')
            h1 Firestarter
            p Go around, ice breaker, introductions, etc.
            p
              a.btn.btn-large.btn-danger.new-firestarter(href='#')
                | New Firestarter
        div.row-fluid
          div.span6
            h3(style='text-align: center;') Public
            ul.public-doc-list
              li Nothing here yet.
          div.span6
            h3(style='text-align: center;') For your groups
            ul.group-doc-list
              <% if (!intertwinkles.is_authenticated()) { %>
              li.listed-firestarter Sign in to see your firestarters.
              <% } else {%>
              li.listed-firestarter Nothing here yet.
              <% } %>

    script(type="text/template", id="listedFirestarterTemplate")
      li.listed-firestarter
        | <a href='<%= url %>'><%= doc.name %></a>
        | <span class='date' style='float: right;'></span>
        | <div>
        | <% if (group) { %>
        |   <span class='name'><%= group.name %></span>
        | <% } %>
        | </div>
        | <blockquote class='prompt'><%- intertwinkles.markup(doc.prompt) %></blockquote>
        | <span class='responses'>(<%= doc.responses.length %> responses)</span>

    script(type="text/template", id="addFirestarterTemplate")
      div.row-fluid
        div.span6.offset3
          h3 New Firestarter
          form#new_firestarter_form.form-horizontal
            div.control-group
              label.control-label(for="id_name") *Event name
              div.controls
                input#id_name(type='text', name='name')
            div.control-group
              label.control-label(for="id_prompt") *Firestarter question
              div.controls
                textarea#id_prompt(name='prompt')
            div.control-group.slugfield
              label.control-label(for="id_slug") *Code name
              div.controls
                input#id_slug(type='text', placeholder='Unique name')
                div.firestarter-url
            div.control-group
              label.control-label(for="id_group") Sharing
              div.controls#sharing_controls
              
            div.control-group
              div.controls
                input.btn.btn-large.btn-danger#submit_new_firestarter(type="submit", value="Start")

    script(type="text/template", id="firestarterTemplate")
      div.container-fluid
        div.row-fluid(style='position: relative;')
          div.span12(style='text-align: center;')
            div.first-loading
              em Sparking...
              img(src="/static/img/sparking.gif")

            div.hidden-desktop(style='height: 2.5em;')
            div.pull-right(style='position: absolute; right: 1em; top: 0.5em; text-align: left; height: 2em;')
              ul.sharing-online-group
                li.room-users
                li.sharing
            div(style='clear: both;')

            div.byline
              span.firestarter-date
            h1.hover-edit(style='display: inline-block')
              span.firestarter-name
              <% if (!read_only) { %>
              a.edit-link.edit-name(href='#') Edit
              <% } %>

        div.row-fluid
          div.span6.offset3
            div.well.hover-edit
              span.firestarter-prompt
              <% if (!read_only) { %>
              a.edit-link.edit-prompt(href='#') Edit
              <% } %>
        div.row-fluid
          div.span6.offset3
            div(style='text-align: center;')
              <% if (!read_only) { %>
              a.btn.btn-danger.btn-large#add_response Add response
              <% } %>
            div.modal.hide.fade.add-response-holder
        div.row-fluid
          div.span12.responses(style='text-align: center;')

        div.row-fluid
          div.span12.timeline-holder(style='text-align: center;')

        div.modal.fade.hide.edit-name-modal
          form.form-horizontal
            div.modal-body
              div.control-group
                label.control-label(for="id_firestarter_name") Event name:
                div.controls
                  input#id_firestarter_name(type='text')
            div.modal-footer
              a.btn.pull-left(data-dismiss="modal") Cancel
              input.btn.btn-primary#id_save_name(type='submit', value='Save')
        div.modal.fade.hide.edit-prompt-modal
          form.form-horizontal
            div.modal-body
              div.control-group
                label.control-label(for="id_firestarter_prompt") Prompt:
                div.controls
                  textarea#id_firestarter_prompt
            div.modal-footer
              a.btn.pull-left(data-dismiss="modal") Cancel
              input.btn.btn-primary#id_save_prompt(type='submit', value='Save')

    script(type="text/template", id="editResponseTemplate")
      form.form-horizontal#edit_response_form
        div.modal-body
          div.control-group
            label.control-label(for="id_name") Name
            div.controls#name_controls
          div.control-group
            label.control-label(for="id_response") Response
            div.controls
              textarea#id_response
                <%= response %>
        div.modal-footer
          a.btn.cancel.pull-left(data-dismiss="modal") Cancel
          <input class='btn btn-danger' type='submit' value='<%= verb %>' />

    script(type="text/template", id="responseTemplate")
      div.name
        <%- intertwinkles.inline_user(user_id, name) %>
        span(style="float: right;").date-holder
      div.response
        <%- intertwinkles.markup(response) %>
      div.foot
        <% if (!read_only) { %>
        a.delete(href='#', style='float: left;')
          i.icon.icon-trash
        a.edit(href='#', style='float: right;') Edit
        <% } %>
        div.delete-confirmation.modal.fade.hide
          div.modal-header
            button.close.modal(type='button', data-dismiss='modal', aria-hidden='true', value='&times;')
            h1 Really delete?
          div.modal-body
            p Delete this response by <%- intertwinkles.inline_user(user_id, name) %>?
            blockquote.response
              <%- intertwinkles.markup(response) %>
              

          div.modal-footer
            a.btn(href='#', data-dismiss='modal') Close
            a.btn.btn-danger.really-delete(href='#') Delete

      div(style='clear: both;')

    script(src="/socket.io/socket.io.js", type="text/javascript")
    !=js('frontend')
    include analytics.html
