@import "../../../../../assets/css/utils"

.search-result, .no-result
  text-align: left
  green-glow()

.search-result
  cursor: pointer

a.edit
  color: #aaa
  &:hover
    color: #09f
.twinklepad-url
  small-green()
