@import "../../../../../assets/css/utils"

#frontpage
  .hero-unit
    line-height: 1.3em
  .app-icon-list
    margin: 0
    text-align: center
    li
      cursor: pointer
      list-style-type: none
      green-glow()
      box-sizing: border-box
      width: 100%
      max-width: 220px
      min-height: 220px
      display: inline-block
      vertical-align: middle
      .name
        display: block

  .more-things
    text-align: center
    li
      list-style-type: none
      width: 300px
      height: 300px
      display: inline-block
      vertical-align: middle
      text-align: left
      green-glow()

  .events-and-docs
    margin-left: 0
    li
      list-style-type: none
      green-glow()

.tile-link
  cursor: pointer
