@import "../../../../../assets/css/utils"

.proposal-page
  .user
    white-space: nowrap

  a.reopen-proposal
    color: #333
    font-family: sans-serif
    font-size: 0.8em

  .proposal
    background-color: rgba(200, 200, 200, 0.2)
    //green-glow()
    border-radius: 5px
    padding: 1em

    .text
      border-left: 6px solid #ddd
      margin-left: 0.5em

  .respond
    margin-top: 1em

  .opinion
    padding: 1em
    margin-top: 0.5em
    margin-bottom: 0.5em
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px
    .text
      margin-top: 0.5em
      margin-bottom: 0.5em

    &.stale
      box-shadow: rgba(100, 100, 0, 0.2) 0px 0px 2px
      .vote, .text, .byline
        opacity: 0.3
      .date
        color: black

    .stale-msg
      text-align: center
      color: #600
      font-size: 0.8em
      font-family: sans-serif

    &:hover
      .edit-links
        visibility: visible

    .edit-links
      clear: both
      visibility: hidden
      .delete-opinion
        opacity: 0.2
        &:hover
          opacity: 1
          background-color: #f00
          outline: 6px solid #f00

  .non-voting-warning
    font-style: normal

  .multibar
    .popover
      min-width: 22em
      i
        small-green()
        font-style: normal
        white-space: nowrap
    .bar-set
      width: 100%
    .bar
      padding-left: 10px
      float: left
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      -ms-box-sizing: border-box
      box-sizing: border-box
      border: 1px solid #eee
      &.stale
        opacity: 0.5
      &.yes
        background-color: #0c0
      &.weak_yes
        background-color: #396
      &.discuss
        background-color: #ffa
      &.no
        background-color: #faa
      &.block
        background-color: #f00
        color: white
      &.abstain
        background-color: white
        border: 1px solid #eee
      &.missing
        background-color: #000
        color: white
      &.non-voting
        background-color: #999
        color: white
    th
      font-weight: normal
      white-space: nowrap
      text-align: right

.vote
  text-align: center
  font-style: italic
  &.yes
    color: #090
  &.weak_yes
    color: #393
  &.discuss
    background-color: #ffd
  &.no
    color: #900
  &.block
    background-color: #f00
    color: white
  &.non-voting
    background-color: #999
    color: white
  &.half-width
    width: 50%
    float: left
  width: 100%

.proposal-history
  margin-top: 2em
  .byline
    .editor
      opacity: 0.8
    
  .revision
    background-color: rgba(200, 200, 200, 0.1)
    margin-top: 1em
    padding: 1em
    border-radius: 5px
  .text
    padding: 0.5em
    margin: 0.5em
    border-left: 6px solid #eee
  .supporters
    font-size: smaller
    display: table
    .row
      display: table-row
      .vote-cell
        text-align: right;
        display: table-cell
      .vote
        width: auto
      .people
        padding-left: 1em
        text-align: left;
        display: table-cell
        img
          max-width: 16px
          max-height: 16px



li.listed-proposal
  list-style-type: none
  margin-top: 0.5em
  margin-bottom: 0.5em
  green-glow()
