extends ../www_base
block body
  div.container-fluid
    div.row-fluid
      div.span6.offset6(style='text-align: right;')
        img(src='/static/www/img/please_sign_in.png', alt='Please sign in using the link above')

  <script type='text/javascript'>
  != "window.INTERTWINKLES_AUTH_REDIRECT = '" + (next || '/')  + "';"
  </script>
